<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>27403542663-179m6tj6vjodepadd4undh6vlnnhg2ll.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.27403542663-179m6tj6vjodepadd4undh6vlnnhg2ll</string>
	<key>API_KEY</key>
	<string>AIzaSyBovxoXa6QFu4bwe-9Pnn1ij-JQJMJVIB4</string>
	<key>GCM_SENDER_ID</key>
	<string>27403542663</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tese.test-notif</string>
	<key>PROJECT_ID</key>
	<string>tesetest-notif</string>
	<key>STORAGE_BUCKET</key>
	<string>tesetest-notif.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:27403542663:ios:fbc3a5181ed72945d71822</string>
</dict>
</plist>